body {
	background-color: Ivory;}
h1 {
	color: Gray;
	font-size: 35px;
	border: 2px solid #A52A2A;
	padding: 5px;
	margin-left: 10px;}
h2 {
	color: Gray;
	font-size: 25px;
	margin-left: 10px;}
p {
	color: DarkBlue;
	background-color: Lavender;
	font-size: 16px;}
ol {
	color: Gray;
	font-size: 16px;
	list-style-type: upper-alpha;
	margin-left: 10px;}
ul {
	color: Gray;
	font-size: 16px;
	list-style-type: square;
	margin-left: 10px;}
.profile-image {
	border-style: dotted;
	border-width: 2px;
	width: 200px;
	height: 200px;
	margin-left: 10px;}
.link {
	text-align:right;
	background-color: Aquamarine;}
a {
	border-radius: 20px;
	border: 2px solid #A52A2A;
	padding: 5px;
	background-color: BlanchedAlmond
	margin-left: 10px;}
.image {
	margin-left: 10px;}
.progress {
	margin-left: 10px;}
figure {
	margin-left: 0px;}
aside {
	float:right;}